body {
  margin: 0;
  padding: 0;
  padding-right: 50px;
  background-color: #EEE8AA;
  font-family: Comic Sans MS;
}


.nav-bar {
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:100px;
    font-weight:bold;
    text-align: center;
}

.instructions {
  float:left;
  width: 400px;
}

p span {
  display: block;
}

.overlay {
  height: 280px;
  padding-left: 80px;
}

p {
  font-size:25px;
  font-weight:bold;
  padding: 0;
  text-align: center;
  padding-left: 100px;
}

.title {
  height: 300px;
  flex-direction: row;
  padding: 0;
}

.content {
  padding-top: 0;
  padding-right: 80;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.links {
  width: 40;
  height: 40;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-right: 10px;
}

.links-together {
  justify-content: space-around;
}

a {
  float:left;
}
